@font-face{
    font-family: Gill Sans;
    src: url(font/GIL_____.TTF);
}
@font-face{
    font-family: playfair;
    src: url(font/PlayfairDisplayBlack-RpvVA.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#top{
    background-color: rgb(248, 234, 185);
    padding-bottom: 50px;
}
#hi{
    margin-bottom: 50px;
    padding-left: 90px;
}
#name{
    margin-bottom: 50px;
}
#domicile{
    margin-bottom: 50px;
}
.button{
    text-align: center;
    padding-bottom: 50px;
}
.button ul li{
    list-style-type: none;
    display: inline-block;
}
#content{
    background-color: rgb(248, 234, 185);
    padding-top: 50px;
    padding-bottom: 50px;
}
#title-pastworks{
    margin-bottom: 25px;
}
#commission{
    padding-top: 25px;
    padding-bottom: 25px;
}
.container{
    margin-top: 25px;
    margin-bottom: 25px;
}
.swiper-slide{
    text-align: center;
    margin-bottom: 50px;
}
.container [class^="swiper-button-"]::after{
    content: "";
}
.container .swiper-button-next{
    left: 90%;
}
.container .swiper-button-prev{
    left: 8%;
}
.container .swiper-pagination-bullet{
    width: 18px;
    height: 18px;
    margin: 0 20px;
}
#about-me{
    background-image: url(img/About-BG.png);
    background-repeat: no-repeat;
}
#title-about{
    padding-bottom: 75px;
}
#about-text-1{
    padding-top: 180px;
    padding-bottom: 35px;
    text-align: center;
    font-family: playfair;
    font-size: 45px;
    color: rgb(162, 195, 105);
}
#about-text-2{
    padding-bottom: 35px;
    text-align: center;
    font-family: Gill Sans;
    font-size: 30px;
}
#about-text-3{
    padding-bottom: 130px;
    text-align: center;
    font-family: Gill Sans;
    font-size: 30px;
}
#bottom{
    background-color: rgb(248, 234, 185);
    padding-top: 50px;
    padding-bottom: 50px;
}