*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
#top{
    background-color: rgb(248, 234, 185);
    padding-bottom: 50px;
}
#hi{
    margin-bottom: 50px;
    padding-left: 90px;
}
#name{
    margin-bottom: 50px;
}
#domicile{
    margin-bottom: 50px;
}
.button{
    text-align: center;
    padding-bottom: 50px;
}
.button ul li{
    list-style-type: none;
    display: inline-block;
}
#content{
    background-color: rgb(248, 234, 185);
    padding-top: 50px;
    padding-bottom: 50px;
}
#title-pastworks{
    margin-bottom: 25px;
}
#commission{
    padding-top: 25px;
    padding-bottom: 25px;
}